* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero-area {
    height: 80vh;
}

.f-products-section {
    height: 100vh;
}

.numInp {
    width: 40px;
    text-align: center;
    border: none;
    outline: none;
    background-color: var(--primary-color);
}

.button {
    display: inline-flex;
}

.p-img img {
    min-width: 10vw;
    max-width: 100%;
    width: 50vw;
}

/* .price-button button{
    min-width: 10vw;
    max-width: 100%;
    width: 10vw;
} */

:disabled {
    color: black !important;
}

.mens-section {
    margin-left: 100px !important;
    height: 200vh;
    background-image: url("../img/mens-fashion.png");
    background-repeat: no-repeat;
}

.womens-fashion {
    background-image: url("../img/womens-fashion.png");
    background-repeat: no-repeat;
    height: 83vh;
}

.childs-fashion {
    background-image: url("../img/childs-fashion.png");
    background-repeat: no-repeat;
    height: 100vh;
}

.fash-catogo {
    padding-top: 550px !important;
}

.other-catago {
    padding-top: 220px !important;
    margin-left: -229px;
}

/* .childs-fashion */

/* .newsletter-section{} */
.custom-navbar-m-bottom {
    margin-bottom: -30px;
}
.footer-logo{
    width: 20vw !important;
}

.logo-title{
    margin-left: 10vw;
}
.more-products{
    text-align: center !important;
}
.more-products-brn{
    text-align: center !important;
}














@media screen and (max-width:200px) {
    body {
        /* background-color: black; */

    }

    .img {
        width: 55vw;
        /* height: 65vh !important; */
        /* margin-bottom: 10vh !important; */
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-left: 56px;
    }

    .p-img {
        /* margin-left: -100px !important; */
    }

    .p-img img {
        width: 100vw !important;
        max-width: 100vw;
    }


    .f-products-section .row {
        display: block;
    }

    .f-products-section .col-4 {
        /* display: block; */
        margin: auto;
    }

    .p-title {
        /* display: block; */
        margin-left: 0 !important;



        margin-left: -50px !important;
    }

    .box {
        /* margin: 0 !important; */
        margin-left: -80px !important;
    }

    .f-products-section img {
        /* margin: auto; */
        margin-left: -38vw;

        width: 100vw;
    }

    .price-button {
        display: block !important;
    }

    .hero-shop-btn {
        float: none !important;
    }

    .hero-area {
        display: block;
    }

    .hero-area-canvas-bg {
        display: block;
    }

    .cus-d-block {
        display: block !important;
    }

    .products-section {
        margin-top: 200vh !important;
    }

    .mens-section {
        /* margin-left: 100px !important; */
        height: 200vh;
        background-image: url(../img/mens-fashion.png);
        background-repeat: no-repeat;
        width: 100vw !important;
        max-width: 222% !important;
        min-width: 10vw !important;
    }

    .products-section .row {
        display: inline-block;
    }

    .catagories-section {
        display: none !important;
    }

    .banner-section {
        /* margin-top: 200vh !important; */
    }

    .box {
        display: flex !important;
    }

    .newsletter-section {

        margin-top: 200vh !important;

        width: 100vw !important;
        margin-left: -20px;

    }

    .footer-section .row {
        display: block !important;
    }

    .footer-section .nav-item {
        width: 250px !important;
    }

    .hero-area {
        margin-top: -25px !important;
    }
    .footer-logo{
        width: 80vw !important;
    }

}

/* .main-banner-img{
    width:  100vw !important;
    height: 58vh  !important;
} */


@media screen and (min-width:200px) and (max-width:400px) {
    body {
        /* background-color: black; */

    }

    .img {
        width: 55vw;
        /* height: 65vh !important; */
        /* margin-bottom: 10vh !important; */
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-left: 56px;
    }

    .p-img {
        /* margin-left: -100px !important; */
    }

    .p-img img {
        width: 100vw !important;
        max-width: 100vw;
    }


    .f-products-section .row {
        display: block;
    }

    .f-products-section .col-4 {
        /* display: block; */
        margin: auto;
    }

    .p-title {
        /* display: block; */
        margin-left: 0 !important;



        margin-left: -50px !important;
    }

    .box {
        /* margin: 0 !important; */
        margin-left: -80px !important;
    }

    .f-products-section img {
        /* margin: auto; */
        margin-left: -38vw;

        width: 100vw;
    }

    .price-button {
        display: block !important;
    }

    .hero-shop-btn {
        float: none !important;
    }

    .hero-area {
        display: block;
    }

    .hero-area-canvas-bg {
        display: block;
    }

    .cus-d-block {
        display: block !important;
    }

    .products-section {
        margin-top: 200vh !important;
    }

    .mens-section {
        /* margin-left: 100px !important; */
        height: 200vh;
        background-image: url(../img/mens-fashion.png);
        background-repeat: no-repeat;
        width: 100vw !important;
        max-width: 222% !important;
        min-width: 10vw !important;
    }

    .products-section .row {
        display: inline-block;
    }

    .catagories-section {
        display: none !important;
    }

    .banner-section {
        /* margin-top: 200vh !important; */
    }

    .box {
        display: flex !important;
    }

    .newsletter-section {

        margin-top: 200vh !important;

        width: 100vw !important;
        margin-left: -20px;

    }

    .footer-section .row {
        display: block !important;
    }

    .footer-section .nav-item {
        width: 250px !important;
    }

    .hero-area {
        margin-top: -25px !important;
    }
    .footer-logo{
        width: 80vw !important;
    }


}