:root{
    --primary-color:#D9D9D9;
    --secondary-color:#000C18;
}
.custom-navbar-bg{
    background-color: var(--primary-color);
}


.hero-area-canvas-bg{
    background-color: var(--primary-color);
}
.hero-text{
    margin-top: 30px;
    margin-left: 100px;
    color: var(--secondary-color);
}

.big-font-weight{
    font-weight: 500 !important;
}
.xx-large-font{
    font-size: xx-large;
}
.cart-button{
    color: var(--secondary-color);
}
/* .newsletter-section{
    background-color: var(--primary-color);
    height: 20vh;
} */
.newsletter-section {
    background-color: var(--primary-color);
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    
    /* margin-top: 200vh; */
}
.footer-section{
    background-color: var(--secondary-color);
    height: auto;
}
.nav-link-footer:hover{
    color: var(--primary-color);
}
.social-links img{
    width: 100px !important;
}